.letters {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: left;
    margin: auto;
    width: 500px;
    max-width: 100%;
}


.letters header {
    width: 650px;
    max-width: 100%;
    margin: auto;
}


.letters .text p {
    /* width: 500px;
    max-width: 100%;
    margin: auto; */
    font-size: 13px;
}


.letters header .meta {
    width: 600px;
    max-width: 100%;
    margin: auto;
    font-size: 12px;
    font-weight: 600;
    text-align: left;
    background-color: rgb(239, 239, 239);
    margin-bottom: 0;

}