.demo-container {

    /* margin: auto; */

}


.automaton {
    display: flex;
    border: 1px solid grey;
    padding: 1rem;
}

.cell {
    border: 1px solid grey;
    padding: .1rem .3rem;
    margin: auto;
}

.cell:hover {
    cursor: pointer;
    background-color: #fff67c;
}