.home-page {
    display: flex;

    flex-direction: column;
    justify-content: center;

}

.home-page img {
    margin-right: 2rem;
    width: 150px;
    height: 170px;
    border-radius: 50%;
}


.home-page a {
    text-decoration: none;
}

.home-page p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.1rem;
    width: 400px;
    margin: 1rem auto;
    text-align: left;
}