.home-page {
    display: flex;

    flex-direction: column;
    justify-content: center;
    /* color: red; */
    /* color: blue; */
    /* transition: all 2s; */

}


.home-page img {
    margin-right: 2rem;
    width: 150px;
    height: 170px;
    border-radius: 50%;
}


.home-page a {
    text-decoration: none;
}

.home-page p {
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: .9rem;
    width: 400px;
    margin: 1rem auto;
    text-align: left;
}