#bmi-calculator {
    display: flex;
    flex-direction: row;
    margin: auto;
}

#div-values {
    display: flex;
    flex-direction: column;
    margin: auto;
}

#bmi-result {
    display: flex;
    flex-direction: column;
    margin: auto;
}

#bmi-calculator table {
    margin: auto;
    width: 200px;
}

.variables {
    width: 70px;
    text-align: center;
}

.result {
    width: 100px;
    font-weight: 600;
    padding: .5;
    /* font-size: 1.2rem; */
}