.links-section {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;


}

.links-header {
    display: flex;
    flex-direction: row;
    margin: auto;
    /* background-color: grey; */
    width: 550px;
}

.emails {
    display: flex;
    flex-direction: column;
    text-align: left;
    font-size: .8rem;
}

.emails ul {
    padding-inline-start: 30px;

}

.emails ul li {
    margin-bottom: .1rem;
}


.emails ul li:first-child {
    margin-bottom: 1rem;
    font-weight: 500;
    font-size: 1rem;
}

/* 

.emails ul li:nth-child(4) {
    margin-bottom: 1rem;
    margin-top: 1rem;
} */





.btnContactLink {
    border-color: #141b22;
    background-color: #141b22;
    color: #bbb;
    padding: .5rem;
    min-width: 12rem;
    font-size: .8rem;

    &:hover {
        color: #14A76C;
        border-color: #14A76C;
        cursor: pointer;
        transition: all 0.2s ease-in-out;
        -webkit-transition: all 0.2s ease-out;
        -moz-transition: all 0.2s ease-out;
        -ms-transition: all 0.2s ease-out;
        -o-transition: all 0.2s ease-out;
    }
}


.links-container {
    margin: auto;
}

.links-container ul {
    text-align: left;
}

.links-container ul li {
    font-size: .8rem;
    width: 500px;
}

.links-container ul li::before {
    content: attr(before);
    margin-left: -50px;
    margin-right: 5px;
    font-weight: 500;
}

.links-container ul li::after {
    content: attr(after);
}

.links-container ul li::hover {
    color: #444;
    cursor: pointer;

}

.links-footer {
    background-color: #444;
    color: #bbb;
    margin-bottom: 0px;
    font-size: .8rem;
    font-weight: 600;
    padding-top: .2rem;
    padding-bottom: .3rem;
}