.adhd-header {
    max-width: 600px;
    /* text-align: left; */
    /* margin: auto; */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: auto;
    margin-bottom: 1rem;
    font-weight: 400;
}

.adhd-header .abstract {
    max-width: 500px;
    text-align: left;
    margin: auto;
    /* font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
    font-size: .9rem;
}


/* .adhd-header h1,
h2,
h3 {
    font-weight: 400;
} */


.adhd-header h2 {
    /* font-weight: 400; */
    font-size: .9rem;
    margin: .2rem auto;
}