.author-note {
    text-align: left;
    max-width: 500px;
    margin: auto;
    margin-top: .5rem;
}

.author-contact {
    text-align: left;
    max-width: 500px;
    margin: auto;
    margin-top: .5rem;
}