.adhd-article {
    color: #444;
    margin-bottom: .5rem;
    max-width: 540px;
    margin: auto;
}

.adhd-article header {
    color: #444;
    margin-bottom: .5rem;
    background-color: rgba(90, 107, 107, .25);
}


.collapsible .toggle:hover {
    cursor: pointer;
    background-color: #e4e4e4;
    color: #444;
    /* background-color: rgba(90, 107, 107, .99) */
}

.collapsible .toggle {
    text-align: left;
    color: whitesmoke;
    padding: 8px;
    max-width: 540px;
    margin: auto;
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 0;
    background-color: rgba(90, 107, 107, .8);

}



.adhd-article header .subtitle {
    text-align: left;
    font-size: 11px;
    margin: 0 auto auto auto;
    max-width: 500px;
    font-weight: 500;
    font-size: 12px;
}