.adhd-section {
    color: #444;
    margin-bottom: .5rem;
}

.collapsible .toggle:hover {
    cursor: pointer;
    background-color: #e4e4e4;
}

.collapsible .toggle {
    /* max-width: 500px;
    text-align: left;
    margin: auto;
    font-size: 1rem;
    font-weight: 500; */

    text-align: left;
    background-color: rgb(90, 107, 107);
    color: whitesmoke;
    padding: 8px;
    max-width: 540px;
    margin: auto;
    font-size: .9rem;
    font-weight: 500;
}